.head {
    font-weight: 600;
}

.ui.cards {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

div.ui.card {
    margin-top: 0px !important;
}

@media all and (min-width: 570px) {
    .flex {
       flex: unset;
    }
  }

