.wrap {
    margin: auto;
    padding: 5px 30px;
    display: inline-flex;
    font-size: 1em;
  }
  
  .account{
    display: inline-flex;
    flex-direction: row;
  }
  
  .menutop {
    border-radius: 5px;
    border: 2px solid #800000;
    background-color: #fff;
    padding: 5px 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: grabbing;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0 15px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdfcfc;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .menutop:hover .menutop {
      border: none;
      border-radius: 5px 5px 0 0;
  }
  
  li.active {
    background: #dddddd;
  }
  
  .listyle {
    text-decoration: none;
    display: block;
    padding: auto;
    color: #800000;
    margin: 2%  auto;
    cursor: alias;
  }
  .orange {
    color: #fbb040;
    display: inline;
  }

  .maroon {
    color: #800000;
    display: inline;
  }

  .add-jump {
    color: #800000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    border-radius: var(--border-radius-md);
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 0px solid transparent;
    font-size: 2.5em;
  }
  
  @media all and (max-width: 1200px) {
    .wrap{
      font-size: 0.8em;
    }
    .menutop {
      padding: 5px;
    }
  }
  
  @media all and (max-width: 450px) {
    .wrap{
      font-size: 0.6em;
    }
    .account{
      flex-direction: row;
    }
    .menutop {
      padding: 8px 3px;
    }
  }